<section class="joinnow">
    <div class="login col-lg-4 m-auto shadow-lg">
        <form>
            <div class="form-group">
                <label for="userFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="userLastName" class="form-label">Last Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              
            <div class="form-group">
                <label for="userEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="userPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div> 

              <div class="form-group">
                <label for="userPassword2" class="form-label">Re-enter Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div> 
              <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div> -->

              
              <div className = "w-100 text-center nt-2 loginCSS">
                Aleardy have a account? <a routerLink="/login" >Log In</a>
            </div>
            
        </form>
    </div>
  </section>